body {
	background-color: #A4A4A4;
	font-family: kabarett;
}
h1 {
	color: #4D4F9B;
	font-family: arial black;
}
h3 {
	color: #4D4F9B;
	font-family: cooper;
}
h2 {
	color: #C1242B;
	font-family: cooper;
}
p {
	font-family: arial black;
}
ol {
	font-family: century gothic;
}
ul {
	font-family: century gothic;
}

